html
  box-sizing: border-box


*, *:before, *:after
  box-sizing: inherit

body
  background bg-color
  background radial-gradient(ellipse at center, rgba(0,183,234,0.7) 0%,#54778a 100%);
  font-family: 'Open Sans', sans-serif;

html
  -webkit-tap-highlight-color rgba(0,0,0,0)