font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-Light.ttf", 300)
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-LightItalic.ttf", 300, italic)
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-Regular.ttf", 400)
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-Italic.ttf", 400, italic)
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-Medium.ttf", 500)
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-MediumItalic.ttf", 500, italic)
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-Bold.ttf", 700)
font-face( "Ubuntu", "../fonts/ubuntu/Ubuntu-BoldItalic.ttf", 700, italic)