.popover
  left 0!important
  width 100%!important
  background-color popover-bg-color
  max-width none
  border none
  border-radius 15px
  font-weight 500

  .arrow
    border-top-color transparent!important
    &:after
      border-width 5px
      border-top-color popover-bg-color
  &.top
    margin-top -6px
    > .arrow
      left 30%!important
      bottom -6px

  .popover-content
    padding 3px 15px
    ul
      margin-bottom 0
      li
        color zs-button-color
        font-size 11px