.zs-height-1-1
  height calc("100% - 100px")

.zs-sign
  height 100%
  width 80%
  position relative
  top 25px
  background-image url('/img/zerostate.png')
  background-size contain
  background-repeat no-repeat
  background-position center
  margin 0 auto

.zs-form
  width 80%

.uk-form-row
  margin-bottom 15px!important

  .uk-form-icon
    width 100%
    position relative
    z-index 1

    input
      border-radius 30px
      width 100%
      border 3px solid zs-button-border-color
      font-size zs-input-font-size
      height 100%
      color zs-input-color
      font-weight 300
      text-transform lowercase
      &:focus
        color zs-input-color-focus
        border-bottom 3px solid #99baca
        box-shadow none
    > [class*='uk-icon-']
      margin-left 13px
      margin-top -16px

.uk-form-icon:not(.uk-form-icon-flip) > input
  padding-left 50px!important
  padding-right 20px!important

.zs-button-box
  position fixed
  bottom 0
  left 0
  width 100%
  margin-bottom 20px!important
  margin-top 0!important

  .zs-button
    border-radius 50%
    width 80px
    height 80px
    color zs-button-color
    font-weight 800

@media screen and (max-height: 250px)
  .zs-button-box
    position static
    margin-bottom 0!important









