.zs-form
  width 80%
  .uk-form-icon
    width 100%

    input
      border-radius 30px
      width 100%
      border 3px solid zs-button-border-color
      font-size 30px
      height 100%
      color zs-input-color
      font-weight 300
      &:focus
        color zs-input-color-focus

.uk-form-icon:not(.uk-form-icon-flip) > input
  padding-left 40px!important

.uk-form-icon > [class*='uk-icon-']
  top 36%
  left 10px

.footer
  .uk-form-row
    text-align center

  .zs-button
    border-radius 50%
    width 70px
    height 70px
    color zs-button-color


.uk-icon-hash
  content url('/img/hash_input.png')
  transform scale(.7)