.zs-form
  width 80%
  .uk-form-icon
    width 100%

    input
      border-radius 30px
      width 100%
      border 3px solid zs-button-border-color
      font-size 30px
      height 100%

.uk-form-icon:not(.uk-form-icon-flip) > input
  padding-left 40px!important

.uk-form-icon > [class*='uk-icon-']
  top 36%
  left 10px

.footer
  .uk-form-row
    text-align center

  .zs-button
    height 80px
    border 3px solid zs-button-border-color
    border-radius 50%


.uk-icon-hash
  content url('/img/hash_input.png')
  transform scale(.7)