.zs-button-state
  height 120px
  width 120px
  background-color zs-button-bg-color
  border 3px solid zs-button-border-color
  box-shadow  0 0 10px zs-input-wrap-border-color
  border-radius 80px
  font-size 16px
  font-weight 600
  color zs-button-color
  &:focus
    color zs-button-color!important
  &:hover
    color zs-button-color!important
