.zs-button-state
  height 100px
  width 100px
  border zs-button-border-color
  box-shadow  0 0 10px zs-input-wrap-border-color
  border-radius 50px
  font-size 16px
  font-weight 600
  color zs-button-color
