html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  background: #4b6a7a;
  background-image: -webkit-radial-gradient(ellipse at center,rgba(0,183,234,0.7) 0%,#54778a 100%);
  background-image: -moz-radial-gradient(ellipse at center,rgba(0,183,234,0.7) 0%,#54778a 100%);
  background-image: -ms-radial-gradient(ellipse at center,rgba(0,183,234,0.7) 0%,#54778a 100%);
  background-image: -o-radial-gradient(ellipse at center,rgba(0,183,234,0.7) 0%,#54778a 100%);
  background-image: radial-gradient(ellipse at center,rgba(0,183,234,0.7) 0%,#54778a 100%);
  font-family: 'Ubuntu', sans-serif;
}
::-moz-selection {
  background-color: #bdd1d7;
  color: #fff;
  border-radius: 5px;
}
::selection {
  background-color: #bdd1d7;
  color: #fff;
  border-radius: 5px;
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("../fonts/ubuntu/Ubuntu-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("../fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
}
.uk-icon-hash:before {
  content: url("/img/icons/hash.png");
}
.uk-icon-at:before {
  content: url("/img/icons/at.png");
}
.ui-notification {
  width: 100%;
  text-align: center;
  font-weight: 400;
}
.ui-notification.success {
  color: #fff;
  background-color: #90c0cf;
  background-image: -webkit-linear-gradient(bottom,#b6d1db 15%,#90c0cf 55%);
  background-image: -moz-linear-gradient(bottom,#b6d1db 15%,#90c0cf 55%);
  background-image: -ms-linear-gradient(bottom,#b6d1db 15%,#90c0cf 55%);
  background-image: -o-linear-gradient(bottom,#b6d1db 15%,#90c0cf 55%);
  background-image: linear-gradient(to top,#b6d1db 15%,#90c0cf 55%);
}
.popover {
  left: 0 !important;
  width: 100% !important;
  background-color: #f0f4f7;
  max-width: none;
  border: none;
  border-radius: 15px;
  font-weight: 500;
}
.popover .arrow {
  border-top-color: transparent !important;
}
.popover .arrow:after {
  border-width: 5px;
  border-top-color: #f0f4f7;
}
.popover.top {
  margin-top: -6px;
}
.popover.top > .arrow {
  left: 30% !important;
  bottom: -6px;
}
.popover .popover-content {
  padding: 3px 15px;
}
.popover .popover-content ul {
  margin-bottom: 0;
}
.popover .popover-content ul li {
  color: #5f9aa9;
  font-size: 11px;
}
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.zs-height-1-1 {
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
}
.zs-sign {
  height: 100%;
  width: 80%;
  position: relative;
  top: 25px;
  background-image: url("/img/zerostate.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.zs-form {
  width: 80%;
}
.uk-form-row {
  margin-bottom: 15px !important;
}
.uk-form-row .uk-form-icon {
  width: 100%;
  position: relative;
  z-index: 1;
}
.uk-form-row .uk-form-icon input {
  border-radius: 30px;
  width: 100%;
  border: 3px solid zs-button-border-color;
  font-size: 30px;
  height: 100%;
  color: #bdd1d7;
  font-weight: 300;
  text-transform: lowercase;
}
.uk-form-row .uk-form-icon input:focus {
  color: #8ea1a7;
  border-bottom: 3px solid #99baca;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.uk-form-row .uk-form-icon > [class*='uk-icon-'] {
  margin-left: 13px;
  margin-top: -16px;
}
.uk-form-icon:not(.uk-form-icon-flip) > input {
  padding-left: 50px !important;
  padding-right: 20px !important;
}
.zs-button-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 20px !important;
  margin-top: 0 !important;
}
.zs-button-box .zs-button {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: #5f9aa9;
  font-weight: 800;
}
@media screen and (max-height: 250px) {
  .zs-button-box {
    position: static;
    margin-bottom: 0 !important;
  }
}
