.uk-vertical-align.uk-text-center.uk-height-1-1
  form.uk-form.uk-vertical-align-middle.zs-form
    .uk-form-row.uk-container-center
      .uk-form-icon
        .uk-icon-hash
        input(type="text" placeholder="")
    .uk-form-row.uk-container-center
      .uk-form-icon
        .uk-icon-hash
        input(type="text" placeholder="")
.footer
  .uk-form-row
    button.btn-floating.btn-large.white.zs-button STATE IT
