.uk-vertical-align.uk-text-center.uk-height-1-1
  .uk-vertical-align-middle
    form.uk-form.zs-form
      .zs-sign
      .uk-form-row
        .zs-input-wrap
          input.uk-form-large(type='text' placeholder='')
      .uk-form-row
        .zs-input-wrap
          input.uk-form-large(type='text' placeholder='')
      .uk-form-row
        button.uk-button.zs-button-state(type='button') STATE IT