doctype html
html.uk-height-1-1(ng-app='zeroState')
  head
    meta(charset='utf-8')
    title ZeroState
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel='stylesheet' href='css/uikit.css')
    link(rel='stylesheet' href='css/bootstrap.css')
    link(rel='stylesheet' href='css/app.css')
  body.uk-height-1-1
    ng-view

    script(src='angular/angular.min.js')
    script(src='angular-resource/angular-resource.min.js')
    script(src='angular-route/angular-route.min.js')
    script(src='js/app.js')