doctype html
html.uk-height-1-1(ng-app='zeroState')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

    title idemind

    link(rel='stylesheet' href='css/vendor.min.css')
    link(rel='stylesheet' href='css/app.min.css')

  body.uk-height-1-1
    ng-view

    script(src='js/vendor.min.js')
    script(src='js/app.min.js')