bg-color = #4b6a7a

icons-path = '/img/icons/'
ubuntu-fonts-path = '../fonts/ubuntu/'

popover-bg-color = #f0f4f7

zs-input-color = #bdd1d7
zs-input-color-focus = #8ea1a7
zs-input-font-size = 30px

zs-button-color = #5f9aa9