bg-color = #4b6a7a

zs-input-width = 300px
zs-input-color = #bdd1d7
zs-input-color-focus = #8ea1a7
zs-input-font-size = 50px

zs-button-bg-color = #ffffff
zs-button-color = #5f9aa9
zs-button-border-color = #52798e

zs-input-wrap-color = #ffffff
zs-input-wrap-border-color = #52798e